<h1>Here are all the results posted so far: <%= @count %></h1>
<%= @data %>
<form action="/admin/csv" method="get">
  <button type="submit" name="export_csv"> Export CSV </button>
</form>

<form action="/admin/data" method="post">
<table id='transit_options'>
  <thead>
    <tr>
      <th> Delete </th>
      <th> peopleId </th>
      <th> has_transit_pass </th>
      <th> has_car </th>
      <th> has_e_car </th>
      <th> has_bike </th>
      <th> has_e_bike </th>
      <th> lat_origin </th>
      <th> lat_destination </th>
      <th> lon_origin </th>
      <th> lon_destination </th>
      <th> activity </th>
      <th> frequency </th>
      <th> time_car (s) </th>
      <th> time_bike (s) </th>
      <th> time_walk (s) </th>
      <th> time_transit_total (s) </th>
      <th> time_transit_walk (s) </th>
      <th> time_bikesharing_total (s) </th>
      <th> time_bikesharing_walking (s) </th>
      <th> bikesharing_option </th>
      <th> cost_car ($) </th>
      <th> cost_transit ($) </th>
      <th> cost_bikesharing_member ($) </th>
      <th> cost_bikesharing_non_member ($) </th>
      <th> GHG_car </th>
      <th> GHG_transit </th>
      <th> GHG_bikesharing </th>
      <th> cal_car </th>
      <th> cal_bike </th>
      <th> cal_transit </th>
      <th> cal_walk </th>
      <th> cal_bikesharing </th>
      <th> price_transit_pass_proposed </th>
      <th> wants_transit_pass </th>
      <th> age </th>
      <th> income </th>
      <th> created_at </th>
    </tr>
  </thead>
  <tbody>
      <% for answer in @answers %>
        <tr>
          <td> <button type="submit" name="delete" value = <%= answer.id %> > Delete </button> </td>
          <td> <%=answer.peopleId %> </td>
          <td> <%=answer.has_transit_pass %> </td>
          <td> <%=answer.has_car %> </td>
          <td> <%=answer.has_e_car %> </td>
          <td> <%=answer.has_bike %> </td>
          <td> <%=answer.has_e_bike %> </td>
          <td> <%=answer.lat_origin %> </td>
          <td> <%=answer.lat_destination %> </td>
          <td> <%=answer.lon_origin %> </td>
          <td> <%=answer.lon_destination %> </td>
          <td> <%=answer.activity %> </td>
          <td> <%=answer.frequency %> </td>
          <td> <%=answer.time_car %> </td>
          <td> <%=answer.time_bike %> </td>
          <td> <%=answer.time_walk %> </td>
          <td> <%=answer.time_transit_total %> </td>
          <td> <%=answer.time_transit_walk %> </td>
          <td> <%=answer.time_bikesharing_total %> </td>
          <td> <%=answer.time_bikesharing_walking %> </td>
          <td> <%=answer.bikesharing_option %> </td>
          <td> <%=answer.cost_car %> </td>
          <td> <%=answer.cost_transit %> </td>
          <td> <%=answer.cost_bikesharing_member %> </td>
          <td> <%=answer.cost_bikesharing_non_member %> </td>
          <td> <%=answer.GHG_car %> </td>
          <td> <%=answer.GHG_transit %> </td>
          <td> <%=answer.GHG_bikesharing %> </td>
          <td> <%=answer.cal_car %> </td>
          <td> <%=answer.cal_bike %> </td>
          <td> <%=answer.cal_transit %> </td>
          <td> <%=answer.cal_walk %> </td>
          <td> <%=answer.cal_bikesharing %> </td>
          <td> <%=answer.price_transit_pass_proposed %> </td>
          <td> <%=answer.wants_transit_pass %> </td>
          <td> <%=answer.age %> </td>
          <td> <%=answer.income %> </td>
          <td> <%=answer.created_at %> </td>
        </tr>
      <% end %>
  </tbody>
</table>
</form>
