<h2>Page 3: Best transit option for <%= session[:current_activity] %></h2>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<form action="/page3" method="POST" >
  <ol role="list" class="question-list" >
    <ul class="question-item">
      <div class="question-title">Given what you see in the table below, would you consider taking a year bike-sharing membership? Price is <%= session[:price_transit_pass_proposed] %></div>
      <div class="question-description"></div>
        <ul>
          <input type="radio" name="wants_transit_pass" value="Yes" id="wants_transit_pass_yes" role="radio">
          <span class="choice-label">Yes</span>
        </ul>
        <ul>
          <input type="radio" name="wants_transit_pass" value="No" id="wants_transit_pass_no" role="radio">
          <span class="choice-label">No</span>
        </ul>
    </ul>
  <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr>
    <input type="submit" name="continue" value="Continue &raquo;" id="ss-submit" class="continue-button">
    </tr></tbody></table>
  </div>
  </ol>
</form>

<table id='transit_options'>
  <thead>
    <tr>
      <th> </th>
      <% if session[:has_car] %><th> Car </th> <% end %>
      <% if session[:has_bike] %><th> Bike </th> <% end %>
      <th> Transit </th>
      <th> Walk</th>
      <th> Bike Sharing</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="row_header"> Category</td>
      <% if session[:has_car] %> <td> Your car </td> <% end %>
      <% if session[:has_bike] %> <td> Your bike </td> <% end %>
      <td> Public transit </td>
      <td> Your feet </td>
      <td> <%= session[:bike_or_ebike] %> </td>
    </tr>
    <tr>
      <td class="row_header"> Total Travel Time door to door (source: Google)</td>
      <% if session[:has_car] %> <td> <%= session[:time_car] %> </td> <% end %>
      <% if session[:has_bike] %> <td> <%= session[:time_bike] %> </td> <% end %>
      <td> <%= session[:time_transit_total] %> </td>
      <td> <%= session[:time_walk] %> </td>
      <td> <%= session[:time_bikesharing_total] %> </td>
    </tr>
    <tr>
      <td class="row_header"> Total walking time to stations, arrival and departure (included in the total travel time) in min</td>
      <% if session[:has_car] %> <td> 0 </td> <% end %>
      <% if session[:has_bike] %> <td> 0 </td> <% end %>
      <td> <%= session[:time_transit_walk] %> </td>
      <td> 0 </td>
      <td> <%= session[:time_bikesharing_walking] %> </td>
    </tr>
    <tr>
      <td class="row_header"> Cost ($)</td>
      <% if session[:has_car] %> <td> $<%= session[:cost_car] %> </td> <% end %>
      <% if session[:has_bike] %> <td> 0 </td> <% end %>
      <% if session[:has_transit_pass] %> <td> 0 </td>
      <% else %> <td> $<%= session[:cost_transit] %> </td> <% end %>
      <td> 0 </td>
      <% if session[:time_bikesharing_total_sec] < 1800 %> <td> <p class="highlight">With membership: $0</p> <p class="highlight">Without membership: $9</p> </td>
      <% else %> <td> <p class="highlight">With membership: $4</p> <p class="highlight">Without membership: $11</p> </td> <% end %>
    </tr>
    <tr>
      <td class="row_header"> GHG </td>
      <% if session[:has_car] %> <td> <%= session[:ghg_car] %> </td> <% end %>
      <% if session[:has_bike] %> <td> 0 </td> <% end %>
      <td> <%= session[:ghg_transit] %> </td>
      <td> 0 </td>
      <td><%= session[:ghg_bikesharing] %></td>
    </tr>
    <tr>
      <td class="row_header"> Calories </td>
      <% if session[:has_car] %> <td> Close to 0 </td> <% end %>
      <% if session[:has_bike] %> <td> <%= session[:calories_bike] %> </td> <% end %>
      <td> <%= session[:calories_transit] %> </td>
      <td> <%= session[:calories_walk] %> </td>
      <td> <%= session[:calories_bikesharing] %> </td>
    </tr>
  </tbody>
</table>
