<h2>Page 4</h2>

<% if flash[:message] %>
  <p>
    <span class="error"><%= flash[:message] %></span>
  </p>
<% end %>

<form action="/page4" method="POST" >
  <ol role="list" class="question-list" >
          <ul class="question-item">
            <div class="question-title">What is your age?</div>
            <div class="question-description"></div>
            <select name="age" id="age">
              <% for i in 0..100 %>
                <option value= <%= i %> ><%= i %></option>
              <% end %>
            </select>
          </ul>
          <ul class="question-item">
            <div class="question-title">What is your income?</div>
            <div class="question-description"></div>
            <select name="income" id="income">
              <% for income in session[:income_possibilities] %>
                <option value= <%= income %> ><%= income %></option>
              <% end %>
            </select>
          </ul>
  <div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr>
    <input type="submit" name="continue" value="Submit Survey" id="ss-submit" class="continue-button">
    </tr></tbody></table>
  </div>
  </ol>
  </form>
